html {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	text-align: center;
}
div{
	float:left;
	overflow: auto;
}

body{
	width: 800px;
}

.black {
	background: black;
	color: white;
}

.white {
	background: white;
	color: black;
}

.selected{
	background-color: #ff66ff;
}
#sum{
	padding: 0.5em;
	color: #000000;
	position: absolute;
	border: solid 2px #000000;
	background-color: #FFFFFF;
	height: 80px;
	width: 150px;
	text-align: center;
}