h1{
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
	font-family: 'Leckerli One', cursive;
	font-size: 40pt;
}
#start{
	position: relative;
	padding-top: 94px;
	visibility: visible;
	font-family: 'Raleway', sans-serif;
	font-size: 15pt;
	border: none;
	background-color: Transparent;
	cursor:pointer;
}
button:active {
	outline: none;
}
#buttondiv{
	z-index: 100;
	position: absolute;
	margin-left: -156px;
	padding-left: 50%;
	width: 312px;
	height: 208px;
	text-align: center;
}
#picdiv, #background{
	position: absolute;
	margin-left: -156px;
	padding-left: 50%;
	width: 312px;
	height: 208px;
}
canvas{
	position: absolute;
	margin-left: -156px;
	padding-left: 50%;
}
#background{
	z-index: 80;
}
#background > div{
	background-color: #80aaff;
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid white;
}
#picdiv > div{
	float: left;
	height: 50px;
	width: 50px;
	border: 1px solid white;
}