html {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	float: left;
	text-align:center;
	background-color:white;
	color:black;
}
.schwarz{
	background-color:black;
	color:white;
}
.float{
	clear:both;
}
div{
	float : left;
	width: 100px;
	height: 100px;
}